#titulo {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  text-align: center;
  color: #F2F2F2;
}
h2 {
  font-family: "Quicksand-light", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: white;
  line-height: 3.5;
}
.row {
  color: white;
}
.container {
    margin: auto;
    margin-top: 10%;
}
#top {
  margin: auto;
  margin-top: 10%;
  border-style: solid;
  width: 600px;
  padding-top: 10px;
  padding-left: 10px;
  border-right-width: 3px;
  padding-bottom: 10px;
  padding-right: 10px;
}

#copyright {
  position:fixed;
  left: 0;
  bottom: 0;
  height: 27px;
  width: 100%;
  background-color: #1B1A17;
}

#boton1 {
  background-color: #E04D01;
  border-style: hidden;
  margin: auto;
  margin-top: 10%;
}
