.login-container {
  margin: auto;
  margin-top: 10%;
  border-style: solid;
  width: 600px;
  padding-top: 10px;
  padding-left: 10px;
  border-right-width: 3px;
  padding-bottom: 10px;
  padding-right: 10px;
}
#boton1 {
  background-color: red;
  border-style: hidden;
  margin: auto;
  margin-top: 10%;
}

h1 {

  font-family: 'Quicksand-medium', sans-serif;
  font-size: 3rem;
}
