.welcontainer {
    border-radius: 10px;
    margin: auto;
    margin-top: 10%;
    height: 200px;
    width: 500px;
}
.left-btn {
    text-align: center;
    
    width: 300px;
    height: 150px;
}
.mid-btn {
    text-align: center;
    
    height: 150px;
    width: 300px;
}
.right-btn{
    text-align: center;
    height: 150px;
    width: 300px;
}
.top-container {
    border-radius: 2%;
    margin: auto;
    border: 2px white solid;
    width: 520px;
    height: 200px;  
    margin-top: 6;

}
.mid-container {
    margin:auto;
}
.bitcoin-image {
    height: 150px;
    width: 150px;
}
.graph-image {
    float: right;
    margin: 5px 70px; border: 2px;
    height: 160px;
    width: 190px;
}
.guia {
    width: 50%;
    height: 70%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.tracker {
    width: 50%;
    height: 70%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.analyzer {
    width: 50%;
    height: 70%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.team {
    width: 50%;
    height: 70%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#copyright {
    position:initial;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #22211f;
  }

  .h12
  {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 500;
    
  }

  h5
  {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
  }

.graph-image2
{
    width: 210px;
    height: 210px;
    margin: 1px 60px; border: 2px;
}

article {
    background: linear-gradient(
      to right, 
      rgb(255, 30, 0), 
      rgb(255, 217, 0)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  
  .h1 {

    text-align: center;
    margin-top: 5%;
  }
  
  body {
    background: linear-gradient(
      to bottom, 
      rgb(0, 0, 0), 
      rgb(29, 29, 29)
    );
    min-block-size: 100%;
    min-inline-size: 100%;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-size: min(200%, 5vmin);
  }
  
 
  
  .h22 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
  }