#titulo {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  text-align: center;
  color: #F2F2F2;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: black;
}
.row {
  color: white;
}
.container {
    position: absolute;
    left: 8%;
    top: 60%;
}
.top {
  position: relative;
  top: 65px;
}
