body {
    width: 100%;
    margin: 0;
    background-color: #F7E7CE;
}

h1, h2, h3, h4, h5, h6, p, li {
    font-family: 'Roboto', sans-serif;
    
} 
.texto {
    line-height: 150%;
    text-align: justify;
}
.bold {
    font-weight: 700;
}
.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      
}
