body {
    width: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, li {
    font-family: 'Roboto', sans-serif;
} 
.texto {
    line-height: 150%;
    text-align: justify;
}
.bold {
    font-weight: 700;
}